---
import Image from "astro/components/Image.astro";
import Spa_main from "../../images/spa_main.png";
---

    
 <!-- <div class="md:text-white md:w-full  md:static ">
            <div class=" w-full h-full  ">
                <Image src={Spa_main} alt="gato" class="w-full min-h-40 md:w-full " />
            </div>
            <span  class="px-5 absolute top-[30%] md:top-[45%] left-[10%] pt-3">
                <h1 class="text-white text-normal font-display text-xl md:text-6xl min-w-full">Belleza Significa Salud</h1>
                <p class="text-white py-2 text-normal md:text-xl text-justify w-5/6 md:w-100 "><span class="text-[#c4b5fd] font-bold">Bienvenido Auinmalen</span>
                    , queremos darle calma a tu alma desde tu cuerpo.</p>
                    <div class="flex items-center gap-2">
                        <button class="py-2 px-2 text-xs rounded bg-green-600 hover:bg-zinc-400 text-center md:text-lg lg:text-lg">Conoce los servicios</button>
                <button class="py-2 px-2 text-xs rounded bg-[#c4b5fd] hover:bg-zinc-400 text-center md:text-lg lg:text-lg">Mas detalles</button>
                    </div>
                
            </span>
    </div>-->

    <header class="bg-top md:bg-cover bg-no-repeat bg-[url('/images/spa_main.png')] bg-blend-multiply  mx-w-screen">
        <div class="px-4 mx-auto max-w-screen-xl py-12 md:py-56 text-white">
            <h1 class="text-white text-normal font-display text-xl md:text-6xl min-w-full">Belleza Significa Salud</h1>
            <p class="text-white py-2 text-normal md:text-xl text-justify w-5/6 md:w-100 "><span class="text-[#c4b5fd] font-bold">Bienvenido Auinmalen</span>
                , queremos darle calma a tu alma desde tu cuerpo.</p>
                <div class="flex items-center gap-2">
                    <button class="py-2 px-2 text-xs rounded bg-green-600 hover:bg-zinc-400 text-center md:text-lg lg:text-lg">Conoce los servicios</button>
            <button class="py-2 px-2 text-xs rounded bg-[#c4b5fd] hover:bg-zinc-400 text-center md:text-lg lg:text-lg">Mas detalles</button>
        </div>
    </header>


