---
import Image from "astro/components/Image.astro";
import Spa_main from "../../images/spa_main.png";
---

    <!-- <div class="text-white w-full " style="position: relative; margin-bottom: 0; margin-top:0; ">-->
        <div class="text-white w-full  static">
        <div class=" w-full ">
            <Image src={Spa_main} alt="gato" class="w-full h-full" />
        </div>
        <span  class="px-5 absolute top-[30%] md:top-[45%] left-[10%] ">
            <h1 class="text-white text-normal font-display text-xl md:text-6xl min-w-full">Belleza Significa Salud</h1>
            <p class="text-white py-2 text-normal md:text-xl text-justify "><span class="text-[#c4b5fd] font-bold">Bienvenido Auinmalen</span>
                , queremos darle calma a tu alma desde tu cuerpo.</p>
                <div class="flex items-center gap-2">
                    <button class="py-2 px-2 text-xs rounded bg-green-600 hover:bg-zinc-400 text-center md:text-lg lg:text-lg">Conoce los servicios</button>
            <button class="py-2 px-2 text-xs rounded bg-[#c4b5fd] hover:bg-zinc-400 text-center md:text-lg lg:text-lg">Mas detalles</button>
                </div>
            
        </span>
    </div>


