---
import { Icon } from "astro-icon/components";

---

<nav>
    <ul class="flex items-center justify-end gap-3 bg-lima-800  text-sm font-light py-1">
        <li>Siganos en :</li>
        <li><a href="/" class="text-lima-200 hover:text-lima-200"><Icon name="facebook" size={32}/></a></li>
        <li><a href="/" class="text-lima-200 hover:bg-lima-200"><Icon name="instagram" size={32}/></a></li>
        <li><a href="/" class="text-lima-200 hover:bg-lima-200"><Icon name="feed" size={32}/></a></li>
        
    </ul>
        
</nav>