---
import Gallery from "../Gallery.astro";
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import Masaje from "../../images/masaje.jpeg"
import Card from "../Card.astro";
---
<div class="bg-[#fcf5e5] py-12 px-5">
    <div class="grid place-content-center text-center">
        <h2 class="text-normal text-[#65a30d] font-display text-6xl py-2">
            Nuestros Precios
        </h2>
        <div class="flex items-center justify-center"> <!-- Modificación aquí -->
            <ul class="flex flex-col items-center justify-center">
                
                <li class="flex items-center gap-3">
                    <hr class="w-28 md:48 h-1 mx-auto my-4 bg-[#65a30d] border-0 rounded md:my-10 dark:bg-gray-700">
                    <Icon name="leaf" width={40} height={40} class="text-zinc-400" /> 
                    <hr class="w-28 md:w-48 h-1 mx-auto my-4 bg-[#65a30d] border-0 rounded md:my-10 dark:bg-gray-700">
                </li>
                
                <li class="w-3/6"><h1 class="text-zinc-400 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                    hendrerit elit turpis, a porttitor tellus sollicitudin at. Class
                    aptent taciti sociosqu ad litora torquent per conubia nostra, per
                    inceptos himenaeos.
                </h1>
            </li>
            </ul>
            
            
        </div>
    </div>
</div>


    <!-- <Gallery />-->

<!--servicios -->

<container class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-9 bg-[#fcf5e5]">
    <div class="col-span-1 md:col-span-1 lg:col-span-1 py-6">
        <!-- Contenido del primer elemento -->
        <ul class="w-100 md:w-4/6 bg-white  divide-y-2 text-center flex-col">
            <li >
            <a class="flex items-center justify-between md:justify-end   text-normal text-[#fcf5e5] bg-[#65a30d] p-2 border-[#65a30d] hover:bg-[#365314] hover:text-white " href="#">Masaje Relajante 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg> </a>   
            </li>
            <li >
                <a class="flex items-center justify-between  md:justify-end   text-normal text-[#fcf5e5] bg-[#65a30d] p-2 border-[#65a30d] hover:bg-[#365314] hover:text-white " href="#">Piedras calientes 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg> </a>   
            </li>
            <li >
                <a class="flex items-center justify-between  md:justify-end   text-normal text-[#fcf5e5] bg-[#65a30d] p-2 border-[#65a30d] hover:bg-[#365314] hover:text-white " href="#">Masaje Facial 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg> </a>   
            </li>
             <li >
                <a class="flex items-center  justify-between  md:justify-end  text-normal text-[#fcf5e5] bg-[#65a30d] p-2 border-[#65a30d] hover:bg-[#365314] hover:text-white " href="#">Reiki 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg> </a>   
             </li>
             <li >
                <a class="flex items-center justify-between  md:justify-end text-normal text-[#fcf5e5] bg-[#65a30d] p-2 border-[#65a30d] hover:bg-[#365314] hover:text-white " href="#">Manicure permanente 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex w-6 h-6 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg> </a>   
             </li>
        </ul>
    </div>
    <div class="col-span-1 md:col-span-1 lg:col-span-2">
        <!-- Contenido del segundo elemento -->
        <div class="grid md:grid-cols-2 gap-3">
            <div>
                <Image src={Masaje} alt=""  class=" w-100 md:py-6 ">
            </div>
            <div>
                <div class="py-2 px-2 justify-center">
                    <!-- <h2 class="font-display text-4xl py-2 text-[#65a30d]">Masaje</h1>
                    <h3 class="text-normal text-[#c4b5fd] text-2xl ">$35.000</h3>
                    <p class="py-2 text-balance text-zinc-400 ">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book. remaining essentially unchanged. It was
                        popularised in the with theLorem Ipsum is simply dummy text
                        of the printing and eentially unchanged.
                    </p>-->
                    
                    <li class=" list-none">
                        <Card href="#" title="Masaje" body="Lorem Ipsum is simply dummy text of the . " />

                    </li>
                </div>
                <a href="#" class="px-3 py-2 text-white rounded bg-[#65a30d] hover:bg-[#365314] hover:text-white">M&aacutes Servicios</a>
            </div>
        </div>
    </div>
    <!-- Si tienes más elementos, puedes seguir añadiendo aquí -->
</container>