---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Bienvenido a Aiunmanel">
    <main>
        <Icon name="rocket" width={114} height={80} />
        <h1 class="text-white">El descanso del Alma</h1>
        <p class="font-display font-bold text-xl text-white">Vito</p>
    </main>

</Layout>

