---
interface Props {
	title: string
	body: string
	href: string
}

const { href, title, body } = Astro.props;
---

<li class="list-none">
	
		<h2 class="text-black text-2xl">
			{title}
		</h2>
		<p class="text-black text-xl">
			{body}
		</p>
		<a href={href} class="bg-dark"></a>

</li>
