---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '@fontsource/satisfy';

import { ViewTransitions } from 'astro:transitions';
import NavBar from '../components/layout/navBar.astro';
import Footer from '../components/layout/Footer.astro';
import SideMenu from '../components/layout/sideMenu.astro';
import NavBrand from '../components/layout/navBrand.astro';
import Compromiso from '../components/layout/Compromiso.astro';
import Main from '../components/layout/main.astro';
interface Props {title:string;}

---

<!doctype html>
<html lang="en" transition:animate="slide">
	<head>
		
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-lima-200 mx-6 text-white">
		
		<NavBrand />
		
		<NavBar />
		<Main />
		<Compromiso />
		<SideMenu />
		
		<Footer />
	</body>
</html>

