---
import Layout from "./Layout.astro"
import Image from "astro/components/Image.astro";
import Spa_main from "../images/spa_main.png";
---

    <div class="text-white " style="position: relative; margin-bottom: 0; margin-top:0; ">
        <div class="md:pl-12 md:pr-12">
            <Image src={Spa_main} alt="gato" style=" max-width:100%;height:auto;" />
        </div>
        <span style="left: 10%; position: absolute; top: 10%; z-index:2;" class="pr-5 ">
            <h1 class="text-white font-display text-xl md:text-6xl pt-9 min-w-full">Belleza Significa Salud</h1>
            <p class="text-white py-2 text-xl text-justify "><span class="text-[#c4b5fd] font-bold">Bienvenido Auinmalen</span>
                , queremos darle calma a tu alma desde tu cuerpo.</p>
            <button class="py-2 px-2 text-xs rounded bg-[#889259] hover:bg-slate-400 text-center md:text-lg lg:text-lg">Conoce los servicios</button>
            <button class="py-2 px-2 text-xs rounded bg-[#c4b5fd] hover:bg-slate-400 text-center md:text-lg lg:text-lg">Mas detalles</button>
        </span>
    </div>


